 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
hr {
    color: white;
    margin-top: 30px;
    width: 800px;
    margin:auto;
    height: 0px;

}
html {   
        /* Nice use of background-image, but it is better form to have all of your images in the 
         * "images" folder and just have CSS in your CSS folder. 
         */
        background-image: url("home_cover1.jpg");        
         min-height: 100%;
         min-width: 1024px;
          width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        clear: both;
  
}
#logo {
        padding-top: 10px;
        padding-left: 70px;
        width: 50px;
        height: 50px;
        clear: both;
        display: inline-block;
        float: left;
}
.header {
         font-family: 'Open Sans', sans-serif;
         padding-top: 170px;
         margin-right: none;
         margin-left: none;
         margin:auto;
         color: white;
         text-align: center;
         font-size: 30px;
         font-weight: 900px;
         width: 100%;
         clear: both;
         list-style: none;

 }
 li {
        display: inline;
        padding-right:80px;
        clear: both;
 }
#footer {
    margin: auto;
    clear:both;
    display: inline-block;
    width: 500px;
    padding-top: 40px;
    margin-left: 45%

}
