 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #00cc44;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.header {
         font-family: 'Open Sans', sans-serif;
         width: 100%;
         height: 130px;
         background: black;
 }
 #background {
        background-image: url("1.jpg");
        background-size: 100%;
        height: 1000px;

 }
 #logo {
        padding-top: 20px;
        padding-left: 10%;
        clear: both;
        display: inline-block;
        height: 90px;
 }
 .header ul {
         color: white;
         text-align: right;
         font-size: 20px;
         font-weight: 600;
         clear: both;
         list-style: none;
         padding-right: 20px;
         float: right;
         padding-top: 70px;
 }
 li {
        display: inline;
        margin-top: 40px;
         margin-right: 40px;
         clear: both;
 }
 #about {
    margin-top: 40px;
    width:70%;
    display: inline-block;
    margin-left: 250px;
    margin-bottom: 40px;
    clear: both;

 }
 #title {
        font-style: bold;
        color: #000033;
        padding-top: 30px;
        font-weight: 600;
        font-size: 45px;
        clear: both;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
 }
 /*#picture {
    width: 20%;
    height: 30%;
    display: inline-block;
 }
#GGimage {
        float: left;
        height: 400px;
        margin-left: 120px;
        width: 400px;
        box-shadow: 20px 10px 5px #888888;
        margin-top: 70px
}*/
#whitebox {
        background-color: white;
        opacity: .5;
        width: 70%;
        height: 450px;
        margin-left: 15%;
        margin-right: 15%;
        clear: both;
}
#resume {
        list-style-type: none;
        float: left;
        width: 100%;
        margin-left: 100px;
        clear: both;

}
#experience {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        color: #000033;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        width: 25%;
        display: inline-block;

}
#skills {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        color: #000033;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        width: 25%;
        display: inline-block;
        padding-left: 40px;

}
#education{
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        color: #000033;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        width: 25%;
        display: inline-block;
        clear: both;

}

h1 {
        font-style: bold;
        padding-top: 30px;
        font-weight: bold;
        font-size: 25px;
        clear: both;
}
.hi {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        color: #000033;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
}
#footer {
	margin-left: 42%;
}
footer {
    margin-top: 170px;
	background-color: #79d3a6;
	height: 150px;
        clear: both;
}
.social {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}